﻿body {
   background-image:url(../Content/geometry.png);
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

main {
    margin-top: 15px;
    margin-bottom: 4px;
    margin-left: 130px;
    width: 80%;
    border-color: aqua;
    border: 5px groove;
}
#rside {
  border-left-style:groove
}
footer,header{
    background-color: gainsboro
}



