﻿@model Blog.Model.Models.Comment

@{
    ViewBag.Title = "AddComent";
}

<h2>Add Comment</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.byAuthor, "Your Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.byAuthor, new { htmlAttributes = new { @class = "form-control" ,required="true"} })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Text,"Text comment", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" ,required="true"  } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Post" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Comments", null, new { @class = "btn btn-outline-info" })
</div>