﻿@model IEnumerable<Blog.Model.Models.Comment>

@{
    
    ViewBag.Title = "Articles";
}
<div class="row bootstrap snippets">

    <div class="col-md-6 col-md-offset-2 col-sm-12">

        <div class="comment-wrapper">

            <div class="panel panel-info">
                <div class="panel-body">

                    @Html.ActionLink("Add Comment", "AddComent", null, new { @class = "btn btn-outline-info" })
                    <hr>

                    @foreach (var item in Model)
                    {
                        <ul class="media-list">
                            <li class="media">
                                <a class="pull-left">
                                    <img src="https://bootdey.com/img/Content/user_1.jpg" width="50" height="50" alt="" class="img-circle">
                                </a>
                                <div class="media-body">
                                    <span class="text-muted pull-right">
                                        <strong class="text-success">@item.byAuthor</strong>  <small class="text-muted">@item.DateCreated</small>
                                        <br />
                                    </span>
                                   
                                    <p>
                                        @item.Text
                                        <hr />
                                    </p>
                                </div>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </div>

    </div>
</div>

