﻿@model IEnumerable<Blog.Model.Models.Article>
@{
    ViewBag.Title = "Главная";
}
@foreach (var item in Model)
{
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">@item.Tit</h5>
            <p class="card-text">@item.Text</p>
            <p class="card-text"><small class="text-muted">@item.DateCreated</small></p>
        </div>
    </div>
}

