﻿@model Blog.Model.Models.Poll

@{
    ViewBag.Title = "Poll";
}
@using (Html.BeginForm())
{
    <ul>
        About yourself:

        <ul>@Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Your name:", required = "required" }) </ul>
        <br />

        <ul>@Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Your email:", required = "required" })</ul>
        <br />

        <ul>@Html.TextBoxFor(model => model.Phone, new { @class = "form-control", placeholder = "Your phone:", required = "required" })</ul>
    </ul>
    <hr />
    <ul>
        Choose gender:

        <ul>
            Male @Html.RadioButtonFor(model => model.Gender, "male")
            Female @Html.RadioButtonFor(model => model.Gender, "female")
        </ul>
    </ul>
    <hr />
    <ul>
        Want Additional Benefit:

        <ul>

            @Html.CheckBoxFor(model => model.Tea)
            <span>Tea</span>
            <br />
            @Html.CheckBoxFor(model => model.Loundry)
            <span>Loundry</span>
            <br />
            @Html.CheckBoxFor(model => model.Breakfast)
            <span>Breakfast</span>
        </ul>

    </ul>
    <hr />
    <p>
        <input style="margin-left:50px" class="btn-success" type="submit" value="Submit RSVP" />     @Html.ActionLink("List Results", "ListPolls", null, new { @class = "btn btn-outline-info" })
    </p>

}
