﻿@model Blog.Model.Models.Poll

@{
    ViewBag.Title = "ResultPoll";
}

<h5>
    Thanks ,@Model.Gender @Model.Name!
    <br />
    Your Email is:@Model.Email.
    <br />
    Conntact phone: @Model.Phone.
    <br />

    Your Additional Benefit:
    <ul>
        Tea:  @ViewBag.Tea
        <br />
        Loundry:  @ViewBag.Loundry
        <br />
        Breakfast  @ViewBag.Breakfast
    </ul>

    <br />
    Have a nice day!
    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-outline-info" })

</h5>