﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/Site.css">
    <title>@ViewBag.Title – Blog</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-dark bg-secondary">
            <a class="navbar-brand">

                <img src="~/Content/5b094e190b7f5.png" width="50" height="30" alt="logo">
            </a>
            <p style="padding-right:650px">First Beta Ver.</p>
        </nav>
    </header>

    <main class="box">
        <div class="row">

            <div class="col-md-6 ">
                @RenderBody()


            </div>
            <div id="rside" class="col-sm-6">
                <h4>Меню</h4>
                <hr />
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active">@Html.ActionLink("Главная", "Index")</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">@Html.ActionLink("Гостевая", "Comments")</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">@Html.ActionLink("Анкета", "Poll")</a>
                    </li>
                </ul>
                <p></p>
            </div>
        </div>
    </main>




    <footer class="page-footer font-small blue">
        <div class="footer-copyright  py-3">
            &copy; @DateTime.Now.Year <a href="https://www.linkedin.com/in/andrew-karachevcev-023a36163/">Андрей Карачевцев</a>

            <a style="margin-left:800px" class="text-right" id="backToTop" href="#" onclick="topFunction()">Back to top</a>

        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
